.admin-dashboard {
  text-align: center;
  padding: 20px;
  background-color: #faf4e9;
}

.admin-header {
  background-color: #c1e7ec;
  padding: 20px;
  color: #333; /* Improved contrast */
}

.admin-logo {
  height: 10vmin;
  pointer-events: none;
}

.dashboard-title {
  color: #333;
  margin-top: 20px;
}

.component-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.component {
  background-color: #f0f4f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.admin-link {
  color: #ffa806;
  text-decoration: none;
}

.admin-link:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .component {
    width: 100%;
    margin-bottom: 20px;
  }

  .dashboard-title {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }

  .admin-header {
    padding: 15px; /* Reduce padding for smaller screens */
  }
}