
.requisitions-container {
  padding: 20px;
  text-align:center;
}

.container table {
  width: 100%;
  border-collapse: collapse;
}

.requisitions-container th,
.requisitions-container td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.requisitions-container th {
  background-color: #f4f4f4;
}

.error-message {
  color: red;
  font-weight: bold;
}

.tasks-section {
  margin-top: 20px;
}

.tasks-section ul {
  list-style: none;
  padding: 0;
}

.tasks-section ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.tasks-section ul li span {
  flex: 1;
  margin-right: 10px;
}

.tasks-section ul li button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.tasks-section ul li button:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
  .staff-dashboard h1 {
    font-size: 1.5em;
  }

  .tasks-section h2 {
    font-size: 1.2em;
  }

  .tasks-section ul li {
    flex-direction: column;
    align-items: flex-start;
  }

  .tasks-section ul li span {
    margin-bottom: 10px;
    font-size: 1em;
  }

  .tasks-section ul li button {
    width: 100%;
    text-align: center;
  }

}
