.App {
  text-align: center;
  width: 100%;
  height: 100%;
  /* background-color: #26c52e; */
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #ffa806;
}

.App-header {
  background-color: #13419c;
  height: auto;
  /* font-size: calc(10px + 2vmin); */
  color: rgb(3, 3, 3);
}

.container {
  background-color: #709da3;
  width: 100%;
  height: 100%;
}

h1 {
  color: fuchsia;
}

h2 {
  color: rgb(35, 218, 11);
}

li {
  margin-bottom: 15px;
}

h4 {
  color: rgb(232, 248, 7);
}

label {
  color: rgb(60, 255, 0);
}

button {
position:flex;
height: 30px;
width: 150px;
border-radius: 50%;
margin-left: 70px;
background-color: blue;
color: white;
}

input {
  /* position:flex; */
height: 20px;
/* width: 150px; */
border-radius: 50%;
text-align: center;
/* background-color: blue; */
}

/* .Current_Queue {
  margin-left: 100px;
  width: 400px;
  top: 100px;
} */


.patdash {
  color: #fdcae2;
}

.patdash1 {
  position: absolute;
  background-color: hsl(0, 10%, 57%);
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
  /* left: 30%; */
}

.admdash {
  color: #300202;
}
.admdash1 {
  position: absolute;
  background-color: hsl(0, 32%, 61%);
  width: 100%;
  height: 100%;
  /* left: 30%; */
}

.Update-Patient {
  position: flex;
  height: 100%;
  padding-top: 1%;
  /* padding-bottom: 10%; */
  /* left: 350px; */
  /* color: #000; */
  background-color: #938bbb;
}

.Register {
  background-color: #a0834e;
  position: flex;
  height: 100%;
  padding-top: 1%;
  /* padding-bottom: 13%; */
  /* left: 350px; */
}

.ADHDAssmt {
  background-color: #6b5c3f;
  border: 1px solid rgb(196, 147, 196);
  overflow-y: scroll;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100px;
  padding-top: 1%;
  padding-bottom: 10%;
}

.ADHDCheck {
  padding-top: 5%;
  color: hsl(6, 12%, 84%);
}

/* .ADHDResults {
  background-color: #7c7870;
  /* position: fixed; */
  /* display: var(2s); */
  /* height: 100%; */
  /* padding-top: 1%; */
  /* padding-bottom: 5%; */
  /* left: 350px; */


.ADHDResults{
  background-color: #ee9f0d;
  position: fixed;
  animation: blink 1s infinite;
  /* transition: opacity 1s; */
}

@keyframes blink {
  0% {
    opacity: 4;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 5;
  }
}

.ADHDResults2 {
  padding-top: 5%;
  animation: float 2s infinite;
} 

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


.Queue {
  position: flex;
  top: 10px;
  left: 350px;
  color: #000;
  background-color: #dadfdb;
}

.queue-box {
  /* margin: auto; */
  border: 1px solid rgb(196, 147, 196);
  /* padding: 10px; */
  /* width: 400px; */
  height: 100px;
  overflow-y: scroll;
  background-color: #d8bfe9;
  /* border-radius: 5px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.media {
  background-color: #9e6bc0;
  /* display: flex; */
}

.img {
  /* width: 300px; */
  height: 200px;
  border-radius: 30%;
  padding-top: 20px;
  padding-bottom: 50px;
}

.img-text{
  padding-top: 20px;
  color: #000;
}

/* .blog-post {
  width: 100%;
  height: 100%;
  background-color: #b6ac97;
  color: #000;
  text-align:center;
  padding-bottom: 5%;
} */

.Next {
  position: flex;
  top: 10px;
  left: 350px;
  color: #000;
  background-color: #dadfdb;
}

/* .animated-text,
.admdash,
.patdash {
  animation: float 2s infinite;
} */

/* @keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
